<% 
	let objTri = {
		"_id": 'asc',
		"nom": 'asc',
		"prenom": 'asc',
		"telephone": 'asc',
		"courriel": 'asc'
	}

	if (typeof clef != 'undefined') {
		objTri[clef] = ordre
	}
%>
<table class="tableau">
	<% let noLigne = 0 %>

	<% for(elm of adresses) {%>
		<% if (noLigne==0) { %>
			<tr>
				<% noLigne++ %>
				<td><a href="/trier/nom/<%= objTri.nom %>">nom</a></td>
				<td><a href="/trier/prenom/<%= objTri.prenom %>">prenom</a></td>
				<td><a href="/trier/telephone/<%= objTri.telephone %>">telephone</a></td>
				<td><a href="/trier/courriel/<%= objTri.courriel %>">courriel</a></td>
				<td><a href="/formulaire"><i class="fas fa-user-plus"></i></i></a></td>
			</tr>
		<% } %>

		<tr>
			<td contenteditable='true' class="info"><%= elm.nom %></td>
			<td contenteditable='true' class="info"><%= elm.prenom %></td>
			<td contenteditable='true' class="info"><%= elm.telephone %></td>
			<td contenteditable='true' class="info"><%= elm.courriel %></td>
			<td><a id="save"><i class="far fa-save"></i></a></td>
			<td><a href="/detruire/<%= elm._id %>"><i class="fas fa-eraser"></i></a></td>
		</tr>
	<% } %>

	<% if (adresses.length <= 0) { %>
		<tr>
			<td><span>Il n'y a pas de membres inscrit. Voulez vous ajouter un membre ?</span></td>
			<td><a href="/formulaire"><i class="fas fa-user-plus"></i></i></a></td>
		</tr>
	<% } %>
</table>