<% 
	let objTri = {
		"_id": 'asc',
		"nom": 'asc',
		"prenom": 'asc',
		"telephone": 'asc',
		"courriel": 'asc'
	}

	if (typeof clef != 'undefined') {
		objTri[clef] = ordre
	}
%>

<main>
	<table class="tableau">
		<% let noLigne = 0 %>

		<% for(elm of adresses) {%>
			<% if (noLigne==0) { %>
				<tr>
					<% noLigne++ %>
					<td style="display: none;"><a href="/trier/nom/<%= objTri._id %>">id</a></td>
					<td class="entete"><a class="bouton" href="/trier/nom/<%= objTri.nom %>">nom</a></td>
					<td class="entete"><a class="bouton" href="/trier/prenom/<%= objTri.prenom %>">prenom</a></td>
					<td class="entete"><a class="bouton" href="/trier/telephone/<%= objTri.telephone %>">telephone</a></td>
					<td class="entete"><a class="bouton" href="/trier/courriel/<%= objTri.courriel %>">courriel</a></td>
					<td class="entete"><a class="bouton" href="/formulaire"><i class="fas fa-user-plus"></i></i></a></td>
				</tr>
			<% } %>

			<tr>
				<td contenteditable='true' class="info" style="display: none"><%= elm._id %></td>
				<td contenteditable='true' class="info"><%= elm.nom %></td>
				<td contenteditable='true' class="info"><%= elm.prenom %></td>
				<td contenteditable='true' class="info"><%= elm.telephone %></td>
				<td contenteditable='true' class="info"><%= elm.courriel %></td>
				<td><a class="bouton" class="sauver"><i class="far fa-save"></i></a></td>
				<td><a class="bouton" href="/detruire/<%= elm._id %>"><i class="fas fa-eraser"></i></a></td>
				<td><a class="bouton" href="/profil/<%= elm._id %>"><i class="fas fa-user"></i></a></td>
			</tr>
		<% } %>

		<% if (adresses.length <= 0) { %>
			<tr>
				<td><span>Il n'y a pas de membres inscrit. Voulez vous ajouter un membre ?</span></td>
				<td><a class="bouton" href="/formulaire"><i class="fas fa-user-plus"></i></i></a></td>
			</tr>
		<% } %>
	</table>

	<section id="utilities">
		<a id="gen" href="/peupler"><i class="fas fa-address-card"></i></a>
		<a id="drop" href="/drop"><i class="fas fa-bomb"></i></a>
		<form id="search" method="POST" action="/recherche">
			<input type="textarea" placeholder="prenom" name="prenom">
			<input type="submit" value="search">
		</form>
	</section>
</main>

<script type="text/javascript">
	 let elmSauver = document.querySelectorAll('.sauver')
	 console.log('elmSauver = ' + elmSauver.length)
	 for (elm of elmSauver)
	 {
		 elm.addEventListener('click', function(){
		 /* 
		 console.log(this
		 .parentNode
		 .parentNode
		 .children[1].innerHTML)
		 */
		 let laLigne = this.parentNode.parentNode
		 let id = laLigne.children[0].innerHTML
		 let nom = laLigne.children[1].innerHTML
		 let prenom = laLigne.children[2].innerHTML
		 let telephone = laLigne.children[3].innerHTML
		 let courriel = laLigne.children[4].innerHTML

		let elmForm = document.getElementById('mon_formulaire')
		 console.log(elmForm.tagName)
		 let elmInput = elmForm.querySelectorAll('input')
		 elmInput[0].value = id
		 elmInput[1].value = nom
		 elmInput[2].value = prenom
		 elmInput[3].value = telephone
		 elmInput[4].value = courriel

		 elmForm.submit()

	 })
	 } 
</script>